<mat-tab-group *ngIf="!exercise">
  <mat-tab label="New Exercise">
    <app-new-training (startTraining)="startTraining($event)"
                      [exercises]="exercises"></app-new-training>
  </mat-tab>
  <mat-tab label="Past Exercises">
    <app-past-training></app-past-training>
  </mat-tab>
</mat-tab-group>

<app-current-training 
      *ngIf="exercise"
      [exercise]="exercise"
      (completedTraining)="completedTraining()"
      (cancelTraining)="cancelTraining($event)"></app-current-training>
